---
export const prerender = false;

import EventInfo from "@/components/EventInfo.astro";
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import { getHeaderLinks } from "@/lib/get-header-links";
import { getWrappedSdk } from "@/lib/get-wrapped-sdk";
import magicalHobbyBeursLogo from "@/images/magical_hobby_beurs_logo.svg";
import { Image } from "astro:assets";
import Section from "@/components/Section.astro";
import { getTypedTableData } from "@/lib/get-typed-table-data";

const sdk = getWrappedSdk();
const { data } = await sdk.Layout();

const {
  data: { hobbyCon },
} = await sdk.HobbyCon();

Astro.response.headers.set(
  "Cache-Control",
  "public, max-age=1800, s-maxage=1800"
);
---

<Layout
  title={hobbyCon!.seo!.metaTitle}
  description={hobbyCon!.seo!.metaDescription}
  headerLinks={getHeaderLinks(data)}
  class="bg-violet-200"
>
  <Hero
    bgColorClass="bg-pink-200"
    gradientClass="from-pink-500 to-rose-500"
    text="Explore hobby's and shop for creations."
  >
    <Image
      slot="logo"
      src={magicalHobbyBeursLogo}
      height="300"
      width="480"
      alt="Magical Hobby Beurs Logo"
      widths={[240, 540, 720, magicalHobbyBeursLogo.width]}
    />
  </Hero>
  <EventInfo
    target="19 April 2026 12:00:00"
    day="19 April 2026"
    time="12:00 - 17:00"
    location="Belgium - GC Klein Boom, Mechelbaan 604, 2580 Putte"
  />
  {
    hobbyCon?.sections?.map((section, i) => (
      <Section
        headingGradientClass="from-[#232946] to-indigo-600"
        title={section!.title}
        subText={section!.subText!}
        {...(i % 2 !== 0 && { class: "bg-white" })}
      >
        {section!.Images.length ? (
          <div
            slot="content"
            class="container max-w-5xl mx-auto flex justify-center flex-col items-center mt-6"
          >
            <div class="flex gap-10 flex-col md:flex-row">
              {section!.Images.map((image) => (
                <Image
                  src={image!.url}
                  alt={image?.alternativeText ?? image!.name}
                  quality={90}
                  width={image!.width!}
                  height={image!.height!}
                  class="rounded-lg max-w-96"
                />
              ))}
            </div>
          </div>
        ) : null}
        {section?.table ? (
          <div
            slot="content"
            class="container max-w-5xl mx-auto flex justify-center flex-col items-center mt-6"
          >
            <table class="md:table-auto table-fixed text-center md:text-left w-full">
              <thead>
                <tr>
                  {getTypedTableData(section.table).columns.map((column) => (
                    <th class="md:px-6">{column.label}</th>
                  ))}
                </tr>
              </thead>
              <tbody>
                {getTypedTableData(section.table).rows.map((row) => (
                  <tr>
                    {row.map((content) => (
                      <td class="md:px-6">{content}</td>
                    ))}
                  </tr>
                ))}
              </tbody>
            </table>
          </div>
        ) : null}
      </Section>
    ))
  }
</Layout>
