---
import HeaderLink from "@/components/HeaderLink.astro";

export type HeaderLink = {
  url: string;
  text: string;
};

type Props = {
  headerLinks: HeaderLink[];
};

const { pathname } = Astro.url;

const filteredHeaderLinks = Astro.props.headerLinks.filter((link) => {
  if (!pathname.includes("cosplay-con") && !pathname.includes("FAQ")) {
    return link.text !== "FAQ";
  }

  return true;
});
---

<header
  class="tracking-tight bg-[#fffffe] md:max-w-4xl w-full md:rounded-full flex md:fixed md:mt-5 z-10 items-center"
>
  <div class="hidden md:flex pl-8 h-full">
    <a class="font-mouse fluid-lg" href="/">Magical Events</a>
  </div>
  <nav class="flex py-4 md:px-4 mx-auto">
    <div class="flex gap-5 text-center">
      {
        filteredHeaderLinks.map((link) => (
          <HeaderLink href={link.url}>{link.text}</HeaderLink>
        ))
      }
    </div>
  </nav>
</header>
