---
import "@/styles/global.css";

import BaseHead from "@/components/BaseHead.astro";
import type { ComponentProps } from "astro/types";
import Header, { type HeaderLink } from "@/components/Header.astro";

type Props = ComponentProps<typeof BaseHead> & {
  headerLinks: HeaderLink[];
  style?: string;
  class?: string;
};

const { headerLinks, style, class: className, ...baseHeadProps } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead {...baseHeadProps} />
  <body class="font-montserrat" style={style}>
    <div class="flex justify-center w-full">
      <Header headerLinks={headerLinks} />
    </div>
    <main class:list={["min-h-screen flex flex-col", className]}>
      <slot />
    </main>
  </body>
</html>
